body, ul, li, input, a, img, table, td, tr {
    padding: 0;
    margin: 0;
}

body {
    padding: 40px 40px;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

body div.container form.form-signin h2 {
    text-align: center;
    font-weight: bold;
    padding: 5px;
    margin-top: 0;
}

body div#login-form input[type="text"] {
    width: 150px;
}

body div#login-form a {
    font-style: italic;
    color: gray;
    font-size: 15px;
}

/*not working - no idea why*/
body div#login-form input[type="text"]:after {
    visibility: hidden;
    display: block;
    content: "###### ";
    clear: right;
}

body div#login-form input[type="button"] {
    margin: 15px 90px;
    padding: 3px;
}
