body header#logged-user-info {
    padding: 10px;
    text-align: right;
    border-bottom: 2px solid black;
    overflow: auto;
}

body header#logged-user-info div {
    float: right;
    display: block;
}

body #treasure {
    display: block;
    position: absolute;
    bottom: 10px;
    right: 10px;
    border-radius: 10px;
    font-size: 20px;
    background-color: #3399FF;
    color: black
}