body, div, ul, li, input, a, img, table, td, tr {
    padding: 0;
    margin: 0;
    font-family: Arial;
}

body div#login-form {
    position: absolute;
    width: 240px;
    /*height: 150px;*/
    border: 2px solid red;
}

body div#login-form h3 {
    text-align: center;
    background-color: #a9a9a9;
    padding: 5px;
    margin-top: 0;
}

body div#login-form input[type="text"] {
    width: 150px;
}

body div#login-form a {
    font-style: italic;
    color: gray;
    font-size: 15px;
}

/*not working - no idea why*/
body div#login-form input[type="text"]:after {
    visibility: hidden;
    display: block;
    content: "###### ";
    clear: right;
}

body div#login-form input[type="button"] {
    margin: 15px 90px;
    padding: 3px;
}

body header#logged-user-info {
    padding: 10px;
    text-align: right;
    border-bottom: 2px solid black;
    overflow: auto;
}

body header#logged-user-info div {
    float: right;
    display: block;
}

body main#shop {
    position: absolute;
    margin: 50px;
}

body main#shop table tbody tr td:last-of-type {
    border-right: 1px solid #008000;
}

body main#shop table tbody tr:last-of-type td {
    border-bottom: 1px solid #008000;
}

body main#shop table tbody tr td:first-of-type {
    border-left: 1px solid #008000;
}

body main#shop table thead th {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #008000;
    text-align: center;
    font-weight: bold;
    color: #f0f8ff;
    padding: 10px;
}

body main#shop table tr td {
    padding: 5px;
}

body main#shop table tr td img {
    width: 70px;
    height: 80px;
    border: 3px solid rgba(0, 0, 0, 0);
}

body main#shop table tr td img:hover {
    border: 3px solid rgba(15, 195, 55, 1);
    border-radius: 5px;
}

body main#shop table tr td.locked img:hover {
    border: 3px solid rgba(252, 18, 55, 1);
}

body main#shop table tr td div.soldier-info {
    display: block;
    position: absolute;
    margin-left: 80px;
    margin-top: -90px;
}

body main#shop table tr td div.soldier-info table {
    background-color: rgba(100, 100, 100, 0.7);
    color: white;
}

body main#shop table tr td div.soldier-info table tr td {
    border: none;
}

body main#shop table tr td div.hide {
    display: none;
}
